<style>
    /* hint container */
    .hint {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        /* If you want dots under the hoverable text */
    }

    /* hint text */
    .hint .hinttext {
        visibility: hidden;
        width: 800px;
        background-color: black;
        color: #fff;
        /* text-align: center; */
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -30px;

        /* Position the hint text - see examples below! */
        position: absolute;
        z-index: 1;

        /* Fade in hint - takes 1 second to go from 0% to 100% opac: */
        opacity: 0;
        transition: opacity 1s;
    }

    /* Show the hint text when you mouse over the tooltip container */
    .hint:hover .hinttext {
        visibility: visible;
        opacity: 1;
    }
</style>